<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Based Chat Application</title>
</head>
<body>
    <input type="text" id="messageInput">
    <button onclick="sendMessage()">Send</button>
    <ul id="chatMessages"></ul>

    <script>
        function getParameterByName(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        // WebSocket connection URL
        const wsUrl = 'ws://localhost:8000/ws/chat/';
        const urlParams = new URLSearchParams(window.location.search);
        const fileName = urlParams.get('file_name');
        // Create a WebSocket connection
        const socket = new WebSocket(wsUrl + '?file_name=' + encodeURIComponent(getParameterByName('file_name')));

        // Event handler for WebSocket connection open
        socket.onopen = function(event) {
            console.log('WebSocket connection opened');
            if (fileName) {
                // Send File name to server
                socket.send(JSON.stringify({ file_name: fileName }));
            }
        };

        // Event handler for receiving messages from the server
        socket.onmessage = function(event) {
            const message = JSON.parse(event.data).message;
            console.log(message)
            displayMessage(message);
        };

        // Event handler for WebSocket connection errors
        socket.onerror = function(error) {
            console.error('WebSocket error:', error);
        };

        // Function to send a message to the server
        function sendMessage() {
            const messageInput = document.getElementById('messageInput');
            const message = messageInput.value;
            socket.send(JSON.stringify({ message: message }));
            messageInput.value = '';
        }

        // Function to display a message in the chat UI
        function displayMessage(message) {
            const chatMessages = document.getElementById('chatMessages');
            const li = document.createElement('li');
            li.textContent = message;
            chatMessages.appendChild(li);
        }
    </script>
</body>
</html>
