<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
</head>
<body>
    <h1>File List</h1>
    <ul>
        {% for file in files %}
            <li>
                {{ file.name }} - {{ file.id }}
                <button class="view-file-btn" data-file-name="{{ file.name }}" data-file-id="{{ file.id }}">View File</button>
            </li>
        {% endfor %}
    </ul>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.view-file-btn').forEach(function(button) {
                button.addEventListener('click', function() {
                    var fileName = this.getAttribute('data-file-name');
                    var fileId = this.getAttribute('data-file-id');
                    const csrftoken = getCookie('csrftoken');

                    fetch('/app/view-file/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify({ file_name: fileName, file_id: fileId }),
                    })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = 'http://localhost:8000/app/chat/?file_name=' + fileName;
                        } else {
                            throw new Error('Error sending file view request');
                        }
                    })
                    .catch(error => {
                        alert(error.message);
                    });
                });
            });
        });
    </script>
</body>
</html>
